img {
    width: 100%;
    height: auto;

}

.sandra-billede img {
    width: 50%;
    display: block;
    margin: auto;
}

.kontaktMig {
    margin-top: 3em;
}

header {
    text-align: center;
}

.banner img {
    /*border: 1px solid white;*/
}



body,
html {
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0;
}

body {
    background-color: black;
    background-image: url(baggrundsbilled.png);
}

button a {
    text-decoration: none;
}

h1 {
    font-family: 'covered by your grace';
    color: grey;
    font-size: 5em;
    margin: .5em 0 0 0;
    text-align: center;
}

.h1-galleri {
    margin-top: 1.1em;
}

h3 {
    display: none;
}

p {
    color: grey;
    font-family: 'century gothic pro', sans-serif;

}

button a {
    text-decoration: none;
}

.footer {
    text-align: center;
    padding-top: 5em;
    color: white;
}

/*Mettes*/
article {
  margin: 3em;
    padding: .5em .5em .2em .5em;
 background-color: white;
}

template:hover {
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .2s;
    background-color: transparent;
    cursor: pointer;
    color: transparent;
}

article:hover {
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
    transition: 2s;
    cursor: pointer;
}

.data-txt {
    font-family: 'century gothic pro', sans-serif;
    color: grey;
    text-align: right;
    margin: .1em;
}

.om:hover{
    cursor: auto;
}

.data-container {
    margin: 0 auto;
    display: grid;
}

#modal {
    height: 100%;
    position:fixed;
    letter-spacing: 1.5px;
    line-height: 1.5;
    display: none;
    font-size: 40px;
    opacity: 0;
    pointer-events: none;
    transition: 1s;
    top: 10px;
    z-index: 1;
    overflow: scroll;
    grid-template-columns: repeat 1fr;
    display: grid;
    transition: 1s;
            background-color: rgba(0, 0, 0, .7);
    top: 0;
}



#modal h2 {
    text-align: center;
    font-family: 'Covered By Your Grace', serif;
    font-size: 5em;
    margin: 0;
    padding: 0;
}

#modal button {
    font-family: 'Covered By Your Grace', serif;
    background-color: white;
    border-radius: 50%;
    color: black;
    display: block;
    font-size: 3em;
    border: none;
    padding: .5em;
    margin: 0 auto .5em auto;
}

#modal button {
    cursor: pointer;
}

#modal-content {
    width: auto;
    height: auto;
    background-color: grey;
    padding-left: 1px;
    border: 2px solid black;
    padding: 1em;
    font-family: 'century gothic pro', sans-serif;
    position:relative;
}

#modal-content img {
    max-height: 100%;
    max-width: 100%;
}

.modal-txt {
    margin: 1em;
    color: black;
}

.modal-txt p {
    color: black;
}

#modal.vis {

    display: block;
    opacity: 1;
    pointer-events: all;
    transition: 0.5s;
}

.container-data {
        grid-gap: 10px;
        display: grid;
}

/* nav har i mobil og tablet en max-height på 0 for at menuen ikke vises, når burgermenuen er der */
nav {
    font-family: 'Covered By Your Grace', serif;
    color: white;
    text-align: center;
    font-size: 30px;
    opacity: 0.9;
    transition: 0.3s;
    background: linear-gradient(to right, transparent, rgba(255, 255, 255), transparent);
    max-height: 0;
    overflow: hidden;
    width: 70%;
    display: block;
    margin: 0em auto 1em auto;
}

/* Når der klikkes på burgeren starter funktionen i javascript, som henter nav.show og gør den synlig med max-height */
nav.show {
    max-height: 500px;
}

nav a:hover {
    color:#008000;
    text-decoration: none;
}

.menu-item {
    background-color: transparent;
    color: white;
    border: none;
    font-family: 'century gothic pro', sans-serif;
    font-size: 150%;
    margin: 0 3%;
}

.menu-item a{
    color: black;
}

.filtrering {
    text-align: center;

}

.filtrering .menu-item:hover {
    cursor: pointer;
    color: grey;
}

.filtrering .menu-item:focus {
    color:grey;
}

nav .menu-item {
    font-family: 'Covered By Your Grace', serif;
    border: none;
    color: black;
    text-align: center;
    font-size: 30px;
    opacity: 0.6;
    transition: 0.3s;
    background-color: transparent;
}

/* Styling af slides. Ramme, center align osv */
.section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 50%;
    border: 10px solid grey;
    position: relative;
    top: 60px;
    bottom: 100px;

}

#footer {
    text-align: center;

}

#footer img{
    width: 2.5%;
    margin: 2em;
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#footer img:hover {
-webkit-filter: grayscale(0);
	filter: grayscale(0);
}



.youtube-responsive-container {
position:relative;
padding-bottom:56.25%;
padding-top:30px;
height:0;
overflow:hidden;
}

.youtube-responsive-container iframe, .youtube-responsive-container object, .youtube-responsive-container embed {
position:absolute;
top:50;
left:0;
width:100%;
height:100%;
}





/* !!!!!!!!!!!! Burgermenu !!!!!!!!!! */


/* Styling til alle streger/containeren */
.burger-container {
  display: inline-block;
  cursor: pointer;
margin: 1em 0 1em 3em;
}

/* Styling af hver enkel streg */
.burger1, .burger2, .burger3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

/* rotering af den ene streg så der til sidst formes et kryds */
.change .burger1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* en streg forsvinder */
.change .burger2 {
  opacity: 0;
}

/* rotering af den ene streg så der til sidst formes et kryds */
.change .burger3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}


/* !!!!!!!!!!!!! OM !!!!!!!!!!!! */

/*Lonni's - article*/
.om {
    background-color: transparent;
    margin: auto;
    width: 40%;
    padding: 10px;
}


/* !!!!!!!!!!!! TABLET !!!!!!!!!!!! */

@media (min-width: 760px) {

    .banner img {
        width: 79%;
        height: auto;
    }

    .container-data {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        display: grid;
    }

    #modal h2 {
        font-size: 2em;
    }

    #modal button {
        font-size: 1em;
    }

    #modal-content {
        width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .modal-txt {
        font-size: .4em;
    }

    nav {
        width: 60%;
    }
}


/* !!!!!!!!!!!!!!! PC !!!!!!!!!!!!!!!! */

@media (min-width: 1024px) {
    .container-data {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
    }

    #modal-content {
  width: 50vw;
        height: auto;
    }

    #modal {
    width: 100vw;
    height: 100vh;
    margin: auto;
    }

    .modal-txt {
        font-size: .35em;
    }

/* For at burgermenuen ikke vises i på desktop har den en display:none */
    .burger-container {
        display: none;
    }

    nav {
        max-height: 200px;
        margin-top: 1.5em;
        margin-bottom: 1em;
        width: 50%;
    }

    .filtrering {
        margin-top: 4em;
    }

    .video{
    margin: auto;
    padding: auto;
    width: 95%;

    }

    /* #modal img {
        width: 75%;
        height: auto;
        display: block;
        margin: 0 auto 1em auto;
    }*/

    #modal-content {
        width: 30%;
        height: auto;
    }
}

.current {
    font-family: 'Covered By Your Grace', serif;
    border: none;
    text-align: center;
    font-size: 30px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    background-color: transparent;
}

.current a{
    color: #008000
}
