img {
    width: 100%;
    height: auto;
}






header {
    text-align: center;
}

.banner img {
    border: 1px solid white;
}

body,
html {
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0;
}

body {
    background-color: black;
    background-image: url(baggrundspletter-01.png);
}

button a {
    text-decoration: none;
}

h1 {
    font-family: 'covered by your grace';
    color: white;
    font-size: 5em;
    margin: 0;
    text-align: center;
}

p {
    color: white;
    font-family: century gothic, sans-serif;

}

button a {
    text-decoration: none;
}

.h1-galleri {
    color: white;
    text-align: center;
    font-family: 'Covered By Your Grace', serif;
    font-size: 5em;
    margin: 0;
    margin-top: .8em;
}

/*mette's*/
article {

  margin: 7em 3em 3em 3em;
    padding: .3em 1.5em 1.5em 1.5em;
    background-color: whitesmoke;
}

.data-container {
    margin: 0 auto;
    display: grid;
}

#modal {
    height: 100%;
    position:fixed;
    letter-spacing: 1.5px;
    line-height: 1.5;
    display: none;
    font-size: 40px;
    opacity: 0;
    pointer-events: none;
    transition: 1s;
    top: 10px;
    z-index: 1;
    overflow: scroll;
    grid-template-columns: repeat 1fr;
    display: grid;
}



#modal h2 {
    text-align: center;
    font-family: 'Covered By Your Grace', serif;
    font-size: 5em;
    margin: 0;
    padding: 0;
}

#modal button {
    font-family: 'Covered By Your Grace', serif;
    background-color: transparent;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 3em;
    border: none;
}

#modal-content {
    width: auto;
    height: auto;
    background-color: mistyrose;
    padding-left: 1px;
    border: 2px solid black;
    padding: 1em;
    font-family: century gothic, sans-serif;
    position:relative;
}

#modal-content img {
    max-height: 100%;
    max-width: 100%;
}

.modal-txt {
    padding: 0em 4em;
    color: black;
}

.modal-txt p {
    color: black;
}

#modal.vis {

    display: block;
    opacity: 1;
    pointer-events: all;
    transition: 0.5s;
}

.container-data {
        grid-gap: 10px;
        display: grid;
}

nav {

    font-family: 'Covered By Your Grace', serif;
    color: white;
    text-align: center;
    font-size: 30px;
    opacity: 0.9;
    transition: 0.3s;
    background: linear-gradient(to right, transparent, rgba(255, 255, 255), transparent);
    max-height: 0;
    overflow: hidden;
}

nav.show {
    max-height: 500px;
}

Nav a {
    color: black;
}

Nav a:hover {
    color: red;
    text-decoration: none;
}

nav .menu-item {
    font-family: 'Covered By Your Grace', serif;
    border: none;
    color: black;
    text-align: center;
    font-size: 30px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    background-color: transparent;
}

.filtrering {

    font-family: 'Covered By Your Grace', serif;
    color: white;
    text-align: center;
    font-size: 30px;
    opacity: 0.9;
    transition: 0.3s;
    background: linear-gradient(to right, transparent, rgba(255, 255, 255), transparent);
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}




.filtrering .menu-item {

    font-family: 'Covered By Your Grace', serif;
    border: none;
    color: black;
    text-align: center;
    font-size: 30px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    background-color: transparent;
}

.filtrering .menu-item:hover {
    color: red;
    cursor: pointer;
}



.highlightindex {
    padding: 5px 10px;
    background: linear-gradient(to right, transparent, rgba(0, 0, 0, 7), transparent);
    width: 80%;
    max-width: 800px;
    margin: .3em auto 0;
    font-weight: normal;
}

.section {
    /* border rundt om slide på forsiden*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 50%;
    border: 10px solid white;
    position: relative;
    top: 60px;
    bottom: 100px;
}

#footer {
    text-align: center;
    color: gray;
    position: relative;
    top: 60px;
}

/*Youtube video*/
.hs-responsive-embed-youtube {
    margin: auto;
    padding: 10px;
    width: 40%;
}

video {
    width: 100%;
}


/* !!!!!!!!!!!! Burgermenu !!!!!!!!!! */

.burger-container {
  display: inline-block;
  cursor: pointer;
margin: 4em 0 1em 3em
}

.burger1, .burger2, .burger3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change .burger1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .burger2 {
  opacity: 0;
}

.change .burger3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

/* !!!!!!!!!!!!! OM !!!!!!!!!!!! */

/*Lonni's - article*/
.om {
    background-color: transparent;
    margin: auto;
    width: 60%;
    padding: 10px;
}


/* !!!!!!!!!!!! TABLET !!!!!!!!!!!! */

@media (min-width: 760px) {

    .banner img {
        width: 79%;
        height: auto;
    }

    .container-data {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        display: grid;
    }

    article {
        padding: .5em;
    }

    #modal {

    }

    #modal h2 {
        font-size: 2em;
    }

    #modal button {
        font-size: 1em;
    }

    #modal-content {
        width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .modal-txt {
        font-size: .4em;
    }
}


/* !!!!!!!!!!!!!!! PC !!!!!!!!!!!!!!!! */

@media (min-width: 1024px) {
    .container-data {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
    }

    #modal-content {
  width: 50vw;
        height: auto;
    }

    #modal {
    width: 100vw;
    height: 100vh;
    margin: auto;
    }

    .modal-txt {
        font-size: .35em;
    }

    .burger-container {
        display: none;
    }

    nav {
        max-height: 200px;
        margin-top: 4em;
    }
}
